<%- include ("../partials/header") %>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Series</h2>
                <p class="lead">Todas as Séries cadastradas<a href="/series/nova" class="btn btn-info">Nova Série</a></p>
                <table class="table table-hover">
                    <% series.forEach( serie => { %>
                    <tr>
                        <td>
                          <a href="/series/info/<%=serie._id %>"><%= serie.name %></a>
                        </td>
                        <td>
                            <h3><span class="badge badge-secondary">
                                <%= labels.filter( label => label.id === serie.status )[0].name %>
                            </span></h3>
                        </td>
                        <td>
                            <a href="/series/editar/<%= serie._id %>" class="btn btn-info">Editar</a> |
                            <a href="/series/excluir/<%= serie._id %>" class="btn btn-info">Excluir</a>
                            <a href="/series/info/<%= serie._id %>" class="btn btn-info">Comentários</a>
                        </td>
                        <% }) %>

                </table>
            </div>
        </div>
    </div>
</section>

<%- include ("../partials/footer") %>