<%- include ("../partials/header") %>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="POST">
                    <h2>Sobre a série <%= serie.name %> </h2>
                    <div class="form-group">
                        Nome da Série: <%= serie.name %> <br>
                    </div>
                    <textarea class="form-control" name="comentario"></textarea>
                    <input type="submit" value="Adicionar Comentário" class="btn btn-info" />
                    <% serie.comments.forEach( c => { %>
                        <div class="card"><%= c %></div>
                    <% }) %>                    
                </form>
            </div>
        </div>
    </div>
</section>

<%- include ("../partials/footer") %>